@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
/*---Media Queries --*/
@media (max-width: 992px) {
}

@media (max-width: 768px) {
    .navbar-right {
        float: left !important;
        margin-right: -15px;
        margin-left: -15px;
    }
    .carousel-inner img {
        margin: auto;
        max-height: 150px !important;
    }
    .carousel-indicators li {
        width: 8px;
        height: 8px;
        border-radius: 8px;
    }
    .carousel-indicators .active {
        width: 10px !important;
        height: 10px !important;
        border-radius: 10px !important;
    }
    
}

@media (max-width: 576px) {
    #login_logo {
        color: salmon;
        font-size: 100%;
        font-family: Brush Script MT, Brush Script Std, cursive;
        text-align: center;
        line-height: 0.8em;
    }

    #login_login > ul {
        display: flex;
        justify-content: space-between;
        margin-left: 0px;
        list-style-type: none;
    }
    #login_login > ul >li{
        margin-left: 0px;
    }
    .navbar-right {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .carousel {
        display:none !important;
    }
    #content {
        display: flex;
        flex-direction: column;
    }

    #rightcolumn {
        width: 100% !important;
        margin: auto;
        float: left;
        order: -1;
    }

    #leftcolumn {
        width: 100% !important;
        margin: auto;
    }
    #footer_menu ul > li{
        border-left: 0px solid azure !important;
    }
}


/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0 !important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: url('img/mac.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}
/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
    padding: 0rem;
    margin-left: -1px;
    margin-right: -1px;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

 /* Common section */
body {
    padding-bottom: 20px;
    background-image: linear-gradient(to bottom right, green, red); /*url(~/../../Images/water4.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    border: 0px solid #134D40;
    padding: 0px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin: auto;
}

a {
    color: azure;
    text-decoration: none;
}a.active {
    color:  burlywood !important;
}
a:hover {
    color: aqua !important;
    font-size: 101%;
}
ul {
    padding-inline-start: 0px;
}
.fa {
    font-size:2em;
}
select {
    border-radius:4px;
}




/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select{
    max-width: 280px;
}
textarea {
    max-width: 400px;
    
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
/*Header section (LogIn, carosel, nawbar, icons )*/

/*glyphycon size)*/

.btn::before {
    font-size: 12px;
}
.content {
    display:block;
    width: 90%;
    margin:auto;
}

/*Login section*/
#login_login {
    margin-top: 5px;
    margin-bottom: 5px;
}
#autorize  > li > a {
    padding-top: 6px;
    padding-bottom: 6px;
}
#autorize {
    margin: auto;
    padding-left: 0px;
}
#autorize > li {
    display: inline-block;
    float: right;
    margin-left: 5px;
    list-style-type: none;
}
#login_logo a {
    display: inline-block;
    margin: 10px;
    line-height: 0.8em;
    color: aqua;
    font-size: 500%;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
#login_logo a:hover {
     color: azure;
     text-decoration: none;
 }

/*Carousel*/
.carousel-inner img {
    margin: auto;
    max-height: 200px;
}

/*Navigation section*/

.navbar-inverse {
    border-radius: 10px;
    background-image: url(~/../../Images/top_menu_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#search {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
/*Site sections links*/
#sections a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 18px;
    min-height: 174px;
}
#sections a span {
    text-transform: uppercase;
    line-height: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
#sections a img {
    margin:20px auto;
    width: 94px;
    height: 94px;
    border: 5px solid #6db193;
    border-radius: 94px;
    -webkit-border-radius: 94px;
    -moz-border-radius: 94px;
}
#sections > div > a:hover > img {
    margin: 17px auto;
    width: 100px;
    height: 100px;
    border: 5px solid #D3FFDE;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    box-shadow: 0 0 20px rgba(240,255,255,1);
}
#sections a:hover span {
    font-size: 105%;
}

/*Content navigation section*/

#leftcolumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:20%;
    float: left;
    border:1px solid black;
    background-color: #2D7458;
    border-radius:6px;
}
.menu {
    margin: 7px;
}
.menu_header {
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
    text-transform: uppercase;
    color: azure;
    font-weight: 600;
    text-align: center;
    background-color: #0B423D;
    border-bottom: 1px solid black;
}
.menu_list {
    list-style-type: disc;
    padding-left: 30px;
}


/*Main content section*/

#rightcolumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 79.5%;
    margin-left: 0.5%;
    float: left;
    border: 1px solid black;
    border-radius: 6px;
    background-color: #2D7458;
}
#intro p {
    text-indent:10px;
    padding:20px;
    color: azure;
    font-size: 1.2em;
    font-weight: 400;
}
#intro img {
    padding: 0px 15px 15px 15px;
    width: 100%;
}

#button_start{
    font-weight: 400;
    display:inline-block;
    text-align:center;
    width:100%;
    padding-bottom:15px;
}
#button_start a{
    font-weight: 600;
}

/*Foter section*/

#footer ul{
    text-align:center;
}
#footer_menu ul > li {
    display: inline-block;
    text-transform: uppercase;
    padding:5px 10px;
    border-left: 2px solid azure;
}
#footer ul > li:first-child {
    border-left: 0;
}
#footer a:hover {
    font-size: 105%;
}
#footer_contacts div {
    text-align: center;
}
#footer_contacts span {
    color: azure;
}
#footer_contacts {
    margin-top: 20px;
    margin-bottom: 20px;
}
#footer_contacts ul > li {
    display: inline-block;
    margin: 5px 10px;
}
#footer_contacts li:hover {
    margin-top: 0px;
    margin-bottom: 0px;
}    
#license {
    margin-top: 10px;
    text-align: center;
    color: azure;
}

                                /*Partial pages*/
select{
    padding:7px;
}

input[type=file]{
    padding-top:5px;
}

.control-label{
    padding-right:5px;
}

.partial_content {
    margin: 7px;
    border: 1px solid black;
    background-color: honeydew;
    border-radius: 5px;
    padding: 10px;
}

.partial_content h2,h4 {
    text-align: center;
}
.partial_content hr {
    text-align: center;
    border-color: lightgray;
}
.partial_content .btn[type="submit"] {
    margin-left: 25px;
}
    /*Contact page*/
#contact {
    font-size: 1.7rem;
}
#contact a {
    color: #2D7458;
    font-style:italic;
}


/*Catalogue page (index)*/

.catalogue {
    margin:7px;
}
.catalogue h2 {
    text-align: center;
}
.catalogue_header {
    background-color: #72DDC7;
    border-radius: 6px;
}
.catalogue_header hr {
    margin-bottom: 0px;
}
.pagesizer_sections {
    display: flex;
}

.pagesizer_sections [class*="col-"] {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.page_count {
    text-align: left;
}
.page_count p{
    font-size:1.3em;
    font-weight:200;
}
.page_count input {
    border-radius: 3px;
}

.page_count option {
    min-height:1em;
    padding-bottom:2px;
    padding-top:2px;
}
.page_count select {
    padding: 3px;
}

.list_pager {
    text-align:center;
}

.create_button a {
    float: right !important;
}
/*Plant items*/
.plantItem {
    border:1px solid black;
    border-radius: 5px;
    margin-top: 10px !important;
    background-color: honeydew;
    padding:10px;
}
.plantItem img {
    max-width: 97%;
    height: auto;
    margin-bottom: 10px;
    margin-top:20px;
}

.characteristics_table {
    max-height: 50px;
    border: 1px solid black !important;
    border-radius: 3px;
    margin-bottom: 15px;
}

.plantItem table th {
    padding: 2px !important;
    text-align: center;
    background-color: #7FEAB5;
}
.plantItem table td {
    padding: 2px !important;
    text-align: center;
    background-color: #E4FFFB;
    border-bottom: 1px solid black !important;
}
/*Article items*/
.article_Item {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px !important;
    background-color: honeydew;
    padding: 10px;
}

.article_Item img {
    max-width: 97%;
    height: auto;
    margin-bottom: 10px;
}
.article_Item hr {
    border-top-width:2px;
}

 /*Details page*/

.plant_description {
    display: flex;
    flex-direction: column;
}
.plant_description img {
    align-self: center;
    margin-bottom: 10px;
}
#article_details img {
    margin-bottom:10px;
}
.details_buttons {
    margin-top:10px;
}
/*Add new plant page*/
/*Calculator page*/
/*Selected plants page*/
.filter_item {
    display: inline-flex;
}
.filter_block{
    display:flex;
    flex-direction:column;
    text-align:center;
    align-items:center;
}
#catalogue_header_filter .row {
    margin-top: 20px;
    margin-bottom: 10px;
}
.filter_item input{
    margin-left:5px;
}
.submit_centered {
    display:flex;
    align-items:center;
}