@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav" }))
    {
        @Html.AntiForgeryToken()

    <ul id="autorize" class="nav">
        <li><a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default">LogOut</a></li>
        <li>
            @Html.ActionLink("Hello, " + User.Identity.GetUserName() + " !", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>

    </ul>
    }
}
else
{
    <ul id="autorize">
        <li>@Html.ActionLink(" Sign up", "Register", "Account", routeValues: null, htmlAttributes: new { @class ="btn btn-primary glyphicon glyphicon-log-in", role="button"})</li>
        <li>@Html.ActionLink(" Sign in", "Login", "Account", routeValues: null, htmlAttributes: new {@class="btn btn-default glyphicon glyphicon-user", role="button"})</li>
    </ul>
    
}
