@model AquaMarket.Models.Article

@Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
<div class="col-md-10">
    <input type="file" accept="image/*" name="Image" /><br>
    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
</div>