@{
    ViewBag.Title = "Error during sign in";
}
<div id="extlogin_failure_page" class="partial_Lable partial_content">
        <h2>@ViewBag.Title.</h2>
        <h3 class="text-danger" style="text-align: center">Unable to log in through the service.</h3>
</div>