@{
    ViewBag.Title = "Reset password confirmation";
}
<div id="reset_password_page" class="partial_Lable partial_content">
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>
    <div>
        <p>
            Your password has been reset. @Html.ActionLink("Click here to enter.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>