@{
    ViewBag.Title = "Contact";
}


<div id="contact" class="container-fluid partial_Lable partial_content ">

    <h2>@ViewBag.Title</h2>

    <hr />
    <address>
        Poland <br />
        Opole 45-707<br />
        Barlickiego 13 str<br />
        <abbr title="Phone">Phone: </abbr>
        +48-886-389-894
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:roman.snitsar@gmail.com">roman.snitsar@gmail.com</a><br />
    </address>

</div>
