@{
    ViewBag.Title = "Home Page";
}

<div id="intro">
    <p>
        This site is created for lovers of aquariums, aquarium plants,
        fans of aquascaping and all who are interested in growing plants in aquariums.
        Here you can find a catalog of plants, a description of different types of plants
        according to their location in the aquarium, growth rate, lighting requirements,
        water parameters, etc. In addition, the site has the opportunity to choose plants
        for a particular aquarium with certain conditions.
    </p>
    <div id="button_start" class="container-fluid">
        @Html.ActionLink("Start",  "Index", "Plant",null, new { @class = "btn btn-default btn-block", role="button" })
    </div>

    <img src="Images/intro1.jpg" />
    <img src="Images/intro2.jpg" />
    <img src="Images/intro3.jpg" />
    <img src="Images/intro4.jpg" />
    <img src="Images/intro5.jpg" />
    <img src="Images/maket.jpg" />
</div>